################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/DotNetClub.Web/node_modules
*.user
/src/DotNetClub.Core/bin/Debug/netcoreapp1.0
/src/DotNetClub.Core/obj/Debug/netcoreapp1.0
/src/DotNetClub.Web/bin/Debug/netcoreapp1.0
/src/DotNetClub.Web/obj/Debug/netcoreapp1.0
/src/DotNetClub.Web/wwwroot/lib
*.suo