<div class="panel panel-default">
    <div class="panel-heading">Markdown 语法参考</div>
    <div class="panel-body">
        <ol class="list-unstyled">
            <li><tt>### 单行的标题</tt></li>
            <li><tt>**粗体**</tt></li>
            <li><tt>`console.log('行内代码')`</tt></li>
            <li><tt>```js\n code \n```</tt> 标记代码块</li>
            <li><tt>[内容](链接)</tt></li>
            <li><tt>![文字说明](图片链接)</tt></li>
        </ol>
    </div>
</div>