<div class="panel panel-default">
    <div class="panel-heading">话题发布指南</div>
    <div class="panel-body">
        <ol class="list-unstyled">
            <li>尽量把话题要点浓缩到标题里</li>
            <li>不得发布反动,暴力,色情,诈骗信息</li>
            <li>转载请注明出处</li>
        </ol>
    </div>
</div>