@model string

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">首页</a></li>
                <li>提示</li>
            </ol>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger">
                <span>@Model</span>
            </div>
        </div>
    </div>
</div>

<div class="col-md-3">
    @Html.Partial("_Grammer")

    @Html.Partial("_Guide")
</div>