@using DotNetClub.Web.ViewModels.Topic
@model PostViewModel

<script src="~/node_modules/editor.md/editormd.min.js"></script>
<link href="~/node_modules/editor.md/css/editormd.min.css" rel="stylesheet" />

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home">首页</a></li>
                <li>@(Model.IsNew ? "发布话题" : "编辑话题")</li>
            </ol>
        </div>
        <div class="panel-body">
            <form method="post" asp-antiforgery="true">
                <div class="form-group form-inline">
                    <label class="control-label">选择版块:</label>
                    <select name="Category" asp-items="@Model.CategoryList" class="form-control">
                        <option>请选择</option>
                    </select>
                </div>
                <div class="form-group">
                    <input name="Title" type="text" class="form-control" placeholder="标题字数10字以上" value="@Model.Model.Title" />
                </div>
                <div class="form-group">
                    <div id="txtContent">
                        <textarea>@Model.Model.Content</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="col-md-3">
    <div class="panel panel-default">
        <div class="panel-heading">Markdown 语法参考</div>
        <div class="panel-body">
            <ol class="list-unstyled">
                <li><tt>### 单行的标题</tt></li>
                <li><tt>**粗体**</tt></li>
                <li><tt>`console.log('行内代码')`</tt></li>
                <li><tt>```js\n code \n```</tt> 标记代码块</li>
                <li><tt>[内容](链接)</tt></li>
                <li><tt>![文字说明](图片链接)</tt></li>
            </ol>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">话题发布指南</div>
        <div class="panel-body">
            <ol class="list-unstyled">
                <li>尽量把话题要点浓缩到标题里</li>
                <li>不得发布反动,暴力,色情,诈骗信息</li>
                <li>转载请注明出处</li>
            </ol>
        </div>
    </div>
</div>

<script type="text/javascript">
    var editor;

    $(function () {
        editor = editormd("txtContent", {
            name: "Content",
            width: "100%",
            height: 400,
            syncScrolling: "single",
            autoFocus: false,
            path: "/node_modules/editor.md/lib/",
            toolbarIcons: function () {
                return ["bold", "italic", "|", "quote", "list-ul", "list-ol", "|", "link", "image", "|", "preview"]
            },
            placeholder: "",
            watch: false
        });

        /*
        // or
        testEditor = editormd({
            id      : "test-editormd",
            width   : "90%",
            height  : 640,
            path    : "../lib/"
        });
        */
    });
</script>
