body {
    background:#e1e1e1;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}
footer{
    margin-top:20px;
    background:#ffffff;
    padding:20px 0;
}

.panel-heading .breadcrumb{
    margin:0px;
    padding:0px;
}
.control-label{
    font-weight:normal;
}

div.cell{
    line-height:32px;
    border-bottom: 1px solid #e1e1e1;
    padding:10px 15px;
}

div.cell span.comments{
    margin:0 0 0 15px;
    width:70px;
    overflow:hidden;
    text-align:center;
}

div.cell span.category{
    margin:0 0 0 15px;
    line-height:32px;
}

div.cell img.avatar{
    height:32px;
}

div.cell .topic-title-wrapper{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
    height:32px;
}

div.cell .topic-title-wrapper .topic-title{
    display:inline-block; 
    max-width:70%; 
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height:32px;
    margin: 0 0 0 15px;
}

div.cell:last-child{
    border-bottom:none;
}

.noPaddingTopAndBottom{
    padding-bottom:0;
    padding-top:0;
}

.noPadding{
    padding:0;
}

.pagination{
    margin: 10px 0;
}

a.tab{
    padding: 5px 10px;
    color:#337ab7;
    border-radius:3px;
}

a.tab.active{
    background:#337ab7;
    color:#ffffff;
}