body {
    background:#e1e1e1;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti !important;
}
footer{
    margin-top:20px;
    background:#ffffff;
    padding:20px 0;
}

.panel-heading .breadcrumb{
    margin:0px;
    padding:0px;
}
.control-label{
    font-weight:normal;
}

div.topic-item{
    line-height:32px;
    border-bottom: 1px solid #e1e1e1;
    padding:10px 0;
}

div.topic-item span.comments{
    margin:0 15px;
}

div.topic-item img.avatar{
    height:32px;
}

div.topic-item .topic-title-wrapper{
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
    height:32px;
}

div.topic-item .topic-title-wrapper .topic-title{
    display:inline-block; 
    max-width:70%; 
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space: nowrap;
    line-height:32px;
}

.topic-item:last-child{
    border-bottom:none;
}

.noPaddingTopAndBottom{
    padding-bottom:0;
    padding-top:0;
}