@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="panel panel-default">
    <div class="panel-body">
        <a class="btn btn-success" asp-action="New" asp-controller="Topic">发布话题</a>
    </div>
</div>