@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">首页</a></li>
            <li>注册</li>
        </ol>
    </div>
    <div class="panel-body">
        <div class="alert alert-success">
            <span>欢迎加入 DotNetClub！我们已给您的注册邮箱发送了一封邮件，请点击里面的链接来激活您的帐号。</span>
        </div>
    </div>
</div>
