@model List<DotNetClub.Core.Model.Topic.TopicModel>
@{
}

<div class="panel panel-default">
    <div class="panel-heading">作者其他话题</div>
    <div class="panel-body">
        <ul class="list-unstyled">
            @if (Model.Count > 0)
            {
                foreach (var topic in Model)
                {
                    <li class="text-nowrap">
                        <a asp-action="Index" asp-controller="Topic" asp-route-id="@topic.ID">@topic.Title</a>
                    </li>
                }
            }
            else
            {
                <li>无</li>
            }
        </ul>
    </div>
</div>