@{ 
    Layout = null;


    string text = @"
@scheshan@yanhuihui
@scheshan
@dad
";

    text = DotNetClub.Core.Utility.AtHelper.LinkUsers(text);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @text
</body>
</html>
