@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-9">
    @RenderBody()
</div>

<div class="col-md-3">
    @*@await Component.InvokeAsync("UserInfoPanel", new { user = ViewBag.User })*@

    @await Component.InvokeAsync("NewTopicPanel")

    @*@await Component.InvokeAsync("LinksPanel")*@
</div>
