@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="panel panel-default">
    <div class="panel-heading">
        友情社区
    </div>
    <div class="panel-body">
        暂无
    </div>
</div>