@using DotNetClub.Web.ViewModels.My
@model MessagesViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">首页</a></li>
            <li>新消息</li>
        </ol>
    </div>
    <div class="panel-body noPadding">
        @Html.Partial("_MessageList", Model.UnreadMessageList)
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">历史消息</div>
    <div class="panel-body noPadding">
        @Html.Partial("_MessageList", Model.HistoryMessageList)
    </div>
</div>