@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="panel panel-default">
    <div class="panel-body">
        <button class="btn btn-success">发布话题</button>
    </div>
</div>